<!-- footer -->
<div class="container-fluid mt-4 shadow-sm bg-white rounded" style="position: fixed; bottom: 0px;">
    <div class="row">
        <!-- footer left content -->
        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
           <ul class="list-group list-group-horizontal">
               <li class="list-item">Footers items</li>
               <li class="list-item">Footers items</li>
               <li class="list-item">Footers items</li>
           </ul>
        </div>
        <!-- footer right content -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
            <h6 class="text">v3.5.4</h6>
        </div>
    </div>

</div>
