<div class="container-fluid shadow-sm bg-white rounded">
    <div class="row">
        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
           <ul class="list-group list-group-horizontal">
               <li class="list-item"><i class="fas fa-th"></i></li>
               <li class="list-item ">My Angular App<sub class="text-muted">v354</sub></li>
           </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
            <ul class="list-group list-group-horizontal" id="Leftside">
                <li class="list-item"><i class="fab fa-elementor"></i></li>
                <li class="list-item"><i class="fas fa-plus"></i></li>
                <li class="list-item"><i class="fas fa-columns"></i></li>
                <li class="list-item"><img src="/assets/user2.jpg" alt="" width="30" height="35"></li>
                <li class="list-item"><span class="username">Name</span><br><small class="designation">Designation</small></li>
                <li class="nav-item dropdown">
                    <button class="btn btn-white dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">     
                    </button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    </div>
                 </li>
            </ul>
        </div>
    </div> 
</div>

