.list-group{
    list-style: none;
}
/* header left content */
.list-item{
    padding: 2px;
    margin-right: 10px;
    font-family: ui-monospace;
    font-weight: bold;
    position: relative;
}
span.username {
    font-size: 12px;
}
/* destionation content */
small.designation {
    font-size: 12px;
    font-weight: 100;
    top: 20px;
    position: absolute;
}
/* header shadow */
.shadow-sm{
    box-shadow: 0 0 4px 0 !important;
}
/* header right content */
#Leftside{
    float: right;
}
#cardbody{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    
}
.card{
    box-shadow: -2px 0px 3px 0px;
}
